<div class="campus-component">
	<p-panel header="Cadastrar">
		<form>
			<div class="p-grid p-nogutter form-width">
				<div class="p-col-6">
					<label>Nome</label>
					<input [(ngModel)]="campus.nome" name="nome" type="text" pInputText placeholder="Nome" />
				</div>
				<div class="p-col-6">
					<label>Instituição</label>
					<input [(ngModel)]="campus.instituicao" name="instituicao" type="text" pInputText placeholder="Instituição" />
				</div>
				<div class="p-col-2 p-offset-5">
					<button (click)="salvar(atualizando)" style="width: 100%; margin: 4px;" pButton type="submit" [label]="atualizando? 'Atualizar' : 'Enviar'"></button>
					<button *ngIf="atualizando" (click)="cancelarEdicao()" style="width: 100%; margin: 4px;" pButton type="submit" label="Cancelar"></button>
				</div>
			</div>
		</form>
	</p-panel>
	<div class="p-grid p-nogutter form-width">
		<div class="p-col-12">
			<p-table [value]="listaCampus" [paginator]="true" [rows]="7" [autoLayout]="true">
			<ng-template pTemplate="header">
				<tr>
					<th>Nome</th>
					<th>Instituição</th>
					<th></th>
				</tr>
				<tr>
					<th>
						<input type="text" (input)="atualizarTabela()" [(ngModel)]="filtro.nome" pInputText style="width:100%" placeholder="Filtar nome">
					</th>
					<th>
						<input type="text" (input)="atualizarTabela()" [(ngModel)]="filtro.instituicao" pInputText style="width:100%" placeholder="Filtar instituição">
					</th>
					<th></th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-campus>
				<tr>
					<td>{{campus.nome}}</td>
					<td>{{campus.instituicao}}</td>
					<td>
						<div style="text-align:center;">
							<button (click)="editar(campus)" pButton type="button" icon="pi pi-pencil" iconPos="left" style="padding:0 10px; margin: 0 3px;"></button>
							<button (click)="excluir(campus)" pButton type="button" icon="pi pi-trash" iconPos="left" style="padding:0 10px; margin: 0 3px;"></button>
						</div>
					</td>
				</tr>
			</ng-template>
			</p-table>
		</div>
	</div>
</div>

<p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle"></p-confirmDialog>